<h3> Hi there, Sign Up Here</h3>

<form action="/users" method="post">
  <input type="text" name="user[username]" placeholder='...username'>
  <input type="password" name="pasword" placeholder="...password">
  <!-- <input type="password-confirmation" name="password-confirmation" placeholder="...confirm password"> -->
  <input type="submit" value="Sign Up">
</form>
